{% extends 'core/base.html' %}
{% block title %}
Portada 
{% endblock %}

{%block textoscabecera%}
<h1>Jorge Zatón</h1>
<span class="subheading">Mis libros publicados</span>
{% endblock %}

{% block imagenportada %} {% load static %}{% static 'core/img/portadalibros.png' %} {% endblock %}


{% block content %}
<!-- Proyecto -->

{%for book in books %} <!-- recorremoslos prejectos de la base de datos -->

    <!-- Proyecto -->
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{{book.image.url}}" alt="captura de pantalla del libro {{book.title}}">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{book.title}}</h2>   
        <p>{{book.sinopsis}}</p>
        <p><a href={{book.link_compra}} target="_blank">Comprar</a></p>
        <div class="text-center"> <!-- Contenedor para centrar el botón -->
            <a href="{{ book.link_compra }}" target="_blank">
                <button type="button" class="btn btn-success">Comprar</button>
            </a>
        </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

