{% extends 'core/base.html' %}

{% block title %}
Blog 
{% endblock %}

{%block textoscabecera%}
<h1>Jorge Zatón</h1>
<span class="subheading">Mi blog</span>
{% endblock %}

{% block imagenportada %} {% load static %}{% static 'core/img/portadablog.png' %} {% endblock %}

{% block content %}

{%for post in posts %} <!-- recorremoslos posts de la base de datos -->

    <!-- Post -->
    <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-innerv text-center rounded">
                <h2 class="section-heading mb-5">
                  <span class="section-heading-upper">{{post.created|date:"SHORT_DATE_FORMAT"}}</span>
                  </br>
                  <span class="section-heading-lower">
                    <a href="{% url 'post' post.id %}" class="link">{{ post.title }}</a>
                  </span>
                </h2>
                <p class="mb-0">
                  <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{post.image.url}}" alt="">
                </p>
                <p class="mb-0 mbt">
                    {{post.content|truncatewords:40|safe}}
                    <a href="{% url 'post' post.id %}" class="btn btn-link">Leer más</a> <!-- Separa el contenido en lineas -->
                </p>
                <p class="mb-0 mbt">
                  <span class="section-heading-under">Publicado por <em><b>{{post.author}}</b></em> en <em>
                  {% for category in post.categories.all %}
                    <a href="{% url  "category" category.id %}" class="link">{{category.name}}</a>{% if not forloop.last %}, {% endif %} <!-- Si no es el último elemento, añade una coma -->
              
                {% endfor %}
                </em></span>

                </p>
              </div>
    
            </div>
          </div>
        </div>
      </section>
  {% empty %}
  <p>No hay entradas en esta categoría.</p>
{% endfor %}

{% endblock %}

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-innerv text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">{{post.created}}</span>
              <span class="section-heading-lower">{{post.title}}</span>
            </h2>
            <p class="mb-0">
              <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{post.image.url}}" alt="">
            </p>
            <p class="mb-0 mbt">
                {{post.content}}
            </p>
            <p class="mb-0 mbt">
              <span class="section-heading-under">Publicado por <em><b>{{post.autor}}</b></em> en <em><a href="#" class="link">General</a>, <a href="#" class="link">Ofertas</a></em></span>
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>